*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    font-family: 'montserrat', Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(245, 245, 245);
}
#checked{
    border-bottom: 2px solid #fe5339;
}
main{
    position: relative;
    margin: 1em;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(245, 245, 245);
}

.feedback-form{
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    padding: 1em;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: rgb(226, 226, 226);
}
.feedback-form *{
    border: 1px solid grey;
    margin: 0.2em;
    width: 16rem;
    height: auto;
    padding: 0.5em;
    outline: none;
    background-color: rgb(245, 245, 245);
    color: grey;
    font-size: 15px;
}
.feedback-form *::placeholder{
    font-family: 'montserrat', Verdana, Geneva, Tahoma, sans-serif;
}
.feedback-form button{
    font-family: 'montserrat', Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #fe5339;
    border: none;
    cursor: pointer;
}
.help-content{
    width: 50%;
}
.help-content h3{
    margin: 0.8em;
    font-size: 20px;
}
.help-content *{
    margin: 1em;
}
.help-content a{
    color: black;
}
.help-content a:hover{
    text-decoration: underline;
}
.contact-info{
    display: flex;
    align-items: flex-start;
    margin: 0;
    justify-content:flex-start;
}
.email{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    justify-content: flex-start;
}